.card-container {
  padding: 0px 70px;
}
.cart-details {
  /* border: 11px solid red; */
  padding: 20px 0px;
  /* background: #f0f0f0 !important; */
  box-shadow: none !important;
}
.data-row {
  /* margin: 30px; */
  /* background: rgb(255, 255, 255); */
}
.return-shop button {
  font-family: "Montserrat", sans-serif;
  padding: 16px, 48px, 16px, 48px;
  text-align: center;
  border: 1px solid #000000;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.return-shop {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px;
}
.coupon-code {
  display: flex;
  align-items: center;
  gap: 2%;
  margin: 20px 0px;
}
.apply-Coupon-btn {
  button {
    text-transform: capitalize;
    background: red;
    width: 212px;
    height: 56px;
    color: #fff;
  }
}
.apply-Coupon-btn :disabled {
  background: rgb(245, 86, 86);
  color: #fff !important;
}
.apply-Coupon-btn :hover {
  color: #000;
  background: #f0f0f0 !important;
}

.cart-container {
  border: 1px solid #000;
}
.cart-total {
  display: flex;
  justify-content: end;
  margin: 50px 0px;
 
}
.card-total {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}
.cart-quantity {
  width: 90px;
  text-align: center !important;
  input {
    text-align: center;
  }
}
