.custom-radio-group {
  display: flex;
  margin: 16px 0px;
  width: 100%;
  justify-content: center;
  align-items: center;

  color: #000;
}

.custom-radio-button {
  display: inline-block;
  border-radius: 45px;
  padding: 10px 60px;
  margin-right: 8px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}
.custom-radio-button:hover{
  background-color: #db4444;
  color: #fff;
}

.custom-radio-button.selected {
  background-color: #db4444;
  color: #fff;
}
