.main-header-container {
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.batteries-heading,
h4 {
  font-family: "Inter";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.72px;
  color: #000;
}
.header-nav-links {
  display: flex;
  gap: 30px;
}
.header-nav-links a {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
.header-nav-links a:hover {
  text-decoration: underline;
}
.input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input-container input {
  display: flex;
  padding: 7px 12px 7px 20px;
  align-items: center;
  width: 240px;
  border-radius: 4px;
  background: #f5f5f5;
}
.input-container input::placeholder {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

.input-container svg {
  font-size: 30px;
  padding-top: 2px;
  color: #000;
}

.popover-container {
  width: 225px;
  height: 208px;
  border-radius: 4px;
  background: rgb(14 12 12 / 89%);
  padding: 15px 0px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popover-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
.popover-text {
  display: flex;
  flex-direction: column;
  gap: 21px;
  font-family: "Poppins";
  color: #fafafa;
  font-size: 14px;
}
